@config "../tailwind.config.js";

@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

@import "tailwindcss";

@theme {
  --font-parkinsans: "Parkinsans", sans-serif;
  --color-prime: #F36F25;
  --color-sec: #09090B21;
  --color-gray: #484338;
  --color-brown: #a58251;
}
